################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MenuManagerTask0001/.vs/MenuManagerTask0001/v15
/MenuManagerTask0001/Contracts/obj
/MenuManagerTask0001/LoggerService/obj
/MenuManagerTask0001/Domain/obj
/MenuManagerTask0001/Repository/obj
/MenuManagerTask0001/BL/obj
/MenuManagerTask0001/Security/obj
