<div>
    <form>
        <div class="row form-group">
            <div class="col-xs-offset-2 col-xs-2 text-right">
                <label for="email">{{ 'EMAIL' | translate:param }}:</label>
            </div>
            <div class="col-xs-6">
                <input type="text" class="form-control" id="email" [(ngModel)]="email" name="email" [placeholder]="'EMAIL' | translate" (keyup)="error = ''" required>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-offset-2 col-xs-2 text-right">
                <label for="password">{{ 'PASSWORD' | translate:param }}:</label>
            </div>
            <div class="col-xs-6">
                <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" [placeholder]="'PASSWORD' | translate" (keyup)="error = ''" (keyup.enter)="signupButtonClicked()" required>
            </div>
        </div>
        <div class="row text-center error-row">
            <label *ngIf="error === 'E_USER_EXISTS'" class="error-label" [innerHtml]="'E_USER_EXISTS' | translate"></label>
            <label *ngIf="error === 'E_CON_ERROR'" class="error-label" [innerHtml]="'E_CON_ERROR' | translate"></label>
        </div>
        <div class="row text-center">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!(email && password)" (click)="signupButtonClicked()">{{ 'SIGNUP' | translate:param }}</button>
        </div>
    </form>
</div>